<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<context:component-scan base-package="by.spring.example"/>
	
	<bean id="classA" class="by.spring.example.ClassA"
	init-method="init" destroy-method="destroy">
		<constructor-arg name="classC" ref="classCOne"></constructor-arg>
	</bean>
	
	<bean id="classCOne" class="by.spring.example.ClassC" scope="prototype">
	</bean>
	
	<bean id="classB" class="by.spring.example.ClaaB"
	init-method="init" destroy-method="destroy">
		<constructor-arg name="ClassD" ref="classD"></constructor-arg>
	</bean>
	

</beans>